<!DOCTYPE html>
<html>
    <head>
    	<title>Front Page</title>
        <link rel="stylesheet" type="text/css" href= "style.css">
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    </head>
	
    <body>
        <div class= "div1">
            <h1>2015 City Of Albany</h1>
            <h2>Community Impact Report Card</h2>
        </div>
        <div class = "div4">
            <ul>
                <li><a href="front-page.html">Home</a></li>
                <li><a href="default-page.html">Index</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="custom-page.html">Bank</a></li>
            </ul>
        </div>
        <div class = div2>
            <div class= about>
                <h3>About the CIRC</h3>
                <p class="homepara">This website is intended to help users find what bank will best fit their needs. Here you can use our calculator that will allow you to enter your banking needs, and get what banks will best suit you. This website will be used by people across the nation to find banks specifically catered to their needs.
</p>
            </div>
            
        </div>
        <div class="div3">
           <div class="main" ng-app="myApp" ng-controller="myController">
<div class= "div5">
  <h2>Bank Rating (For All Banks)</h2>
  <form>
    <ul>
      <li>
        <label>Personal Savings Account </label>
        <input type="text" ng-blur="reset()" ng-model="weights.savings">
      </li>
      <li>
        <label>Number of ATMs </label>
        <input type="text" ng-blur="reset()" ng-model="weights.numAtms">
      </li>
      <li>
        <label>Checking Fees </label>
        <input type="text" ng-blur="reset()" ng-model="weights.checkingFees">
      </li>
      <li>
        <label>Customer Service Rating </label>
        <input type="text" ng-blur="reset()" ng-model="weights.custServ">
      </li>
      <li>
        <label>Loan Acceptance Rate </label>
        <input type="text" ng-blur="reset()" ng-model="weights.loanAcc">
      </li>
      <li>
        <label>Total Percent: {{ calculateTotal() }}
          <br>Percent Remaining: {{ 100 - calculateTotal()}}</label>
        <button type="button" ng-show="calculateTotal() === 100" ng-click="finalScore()">Calculate Bank Scores</button>
      </li>
    </ul>
  </form>
  </div>
  <div ng-repeat="(key, value) in allScores">
    <p>{{key}}: {{value}}</p>
  </div>
</div>
        </div>
        <div class="footer">
            <p>|INF362 Midterm Layout Design Home Page|</p>
        </div>
		
		<script>
		var myApp = angular.module('myApp', []);

myApp.controller('myController', function($scope) {

  $scope.weights = {
    savings: 0,
    numAtms: 0,
    checkingFees: 0,
    custServ: 0,
    loanAcc: 0
  };

  $scope.calculateTotal = function() {
    $scope.total = 0;
    for (var weight in $scope.weights) {
      $scope.total += parseInt($scope.weights[weight]);
    }
    return $scope.total;
  };

  var bankInfo = [{
    bankName: 'chase',
    bankRatings: {
      savings: 5,
      numAtms: 5,
      checkingFees: 5,
      custServ: 5,
      loanAcc: 5
    }
  }, {
    bankName: 'sefcu',
    bankRatings: {
      savings: 5,
      numAtms: 4,
      checkingFees: 4,
      custServ: 2,
      loanAcc: 1
    }
  }, {
    bankName: 'td',
    bankRatings: {
      savings: 1,
      numAtms: 2,
      checkingFees: 3,
      custServ: 4,
      loanAcc: 5
    }
  }];

  $scope.reset = function() {
    for (var weight in $scope.weights) {
      if ($scope.weights[weight] === "" || isNaN($scope.weights[weight]) || $scope.weights[weight] < 0) {
        $scope.weights[weight] = 0;
      }
    }
  };

  $scope.finalScore = function() {
    $scope.chase = [];
    $scope.td = [];
    $scope.sefcu = [];

    for (var x = 0; x < bankInfo.length; x++) {
      $scope.score = 0;
      for (var score in bankInfo[x].bankRatings) {
        $scope.current = bankInfo[x].bankName;
        $scope.score = parseInt(bankInfo[x].bankRatings[score] / 5 * $scope.weights[score]);
        $scope[$scope.current].push($scope.score);
      }
      console.log($scope.current + ": " + $scope[$scope.current]);
    }

    $scope.oneScore = function(bank) {
      var total = 0;
      for (var y = 0; y < bank.length; y++) {
        total += parseInt(bank[y]);
      }
      return total;
    };

    $scope.allScores = {
      chase: $scope.oneScore($scope.chase),
      td: $scope.oneScore($scope.td),
      sefcu: $scope.oneScore($scope.sefcu)
    };
    return $scope.score;
  };

});
		</script>
		
    </body>
</html>
