<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href= "style.css"
    </head>
	
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
	
    <body>
        <div class= "div1">
            <h1>2015 City Of Albany</h1>
            <h2>Community Impact Report Card</h2>
        </div>
        <div class = "div4">
            <ul>
                <li><a href="front-page.html">Home</a></li>
                <li><a href="default-page.html">Index</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="custom-page.html">Bank</a></li>
            </ul>
        </div>
        <div class = div2>
            <div class= about>
                <h3>About the CIRC</h3>
                <p class="homepara">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum. Praesent mauris. Fusce nec tellus sed augue semper porta. Mauris massa. Vestibulum lacinia arcu eget nulla. 

Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. Curabitur tortor. Pellentesque nibh. Aenean quam. In scelerisque sem at dolor. 

Vivamus eu scelerisque erat, in aliquet lectus. Duis neque metus, mollis nec ullamcorper nec, scelerisque laoreet tellus. Donec venenatis non justo eu sagittis. Proin nulla turpis, pellentesque at lectus ut, egestas suscipit ligula. Proin ac sem justo. Duis tempus purus ut sapien imperdiet, sit amet iaculis dui aliquet. In sodales neque eget lacus faucibus, eu sagittis elit hendrerit. Proin facilisis, ipsum non lacinia finibus, enim odio hendrerit odio, id cursus ante lectus at purus. In posuere, neque vel viverra posuere, nulla nibh dictum magna, non ultrices purus massa in nulla. Nam tellus lectus, dictum non accumsan eu, posuere non est. Suspendisse tincidunt vestibulum ex. Integer accumsan est id urna elementum rhoncus. Integer fermentum velit in sapien iaculis tristique. Donec non sem facilisis, sagittis enim faucibus, finibus diam.

Ut rutrum eros vitae consequat ultrices. Donec facilisis elit nec mollis viverra. Maecenas at sem eros. Maecenas convallis mollis neque at rutrum. Proin tempor rhoncus sapien, dictum tincidunt felis tempor vel. Donec gravida, mi sed consequat auctor, ex tortor laoreet erat, vitae auctor nulla nisl ut magna. Sed a malesuada tortor. Sed dignissim metus quis ipsum rutrum convallis. Aenean eu est vitae ex elementum interdum in at nisi. Etiam nec cursus odio, sed bibendum nunc. Nulla efficitur, diam nec vulputate pellentesque, quam neque tempus massa, vel luctus nulla eros eget orci. Etiam in ex ullamcorper, faucibus libero vel, placerat purus. Nam et blandit felis. In sit amet tortor justo. Vestibulum eu lorem sed orci luctus congue eu sed velit.

</p>
            </div>
            
        </div>
        <div class="div3">
           <div class="main" ng-app="myApp" ng-controller="myController">
<div class= "div5">
  <h2>Bank Rating (For All Banks)</h2>
  <form>
    <ul>
      <li>
        <label>Personal Savings Account </label>
        <input type="text" ng-blur="reset()" ng-model="weights.savings">
      </li>
      <li>
        <label>Number of ATMs </label>
        <input type="text" ng-blur="reset()" ng-model="weights.numAtms">
      </li>
      <li>
        <label>Checking Fees </label>
        <input type="text" ng-blur="reset()" ng-model="weights.checkingFees">
      </li>
      <li>
        <label>Customer Service Rating </label>
        <input type="text" ng-blur="reset()" ng-model="weights.custServ">
      </li>
      <li>
        <label>Loan Acceptance Rate </label>
        <input type="text" ng-blur="reset()" ng-model="weights.loanAcc">
      </li>
      <li>
        <label>Total Percent: {{ calculateTotal() }}
          <br>Percent Remaining: {{ 100 - calculateTotal()}}</label>
        <button type="button" ng-show="calculateTotal() === 100" ng-click="finalScore()">Calculate Bank Scores</button>
      </li>
    </ul>
  </form>
  </div>
  <div ng-repeat="(key, value) in allScores">
    <p>{{key}}: {{value}}</p>
  </div>
</div>
        </div>
        <div class="footer">
            <p>|INF362 Midterm Layout Design Home Page|</p>
        </div>
		
		<script>
		var myApp = angular.module('myApp', []);

myApp.controller('myController', function($scope) {

  $scope.weights = {
    savings: 0,
    numAtms: 0,
    checkingFees: 0,
    custServ: 0,
    loanAcc: 0
  };

  $scope.calculateTotal = function() {
    $scope.total = 0;
    for (var weight in $scope.weights) {
      $scope.total += parseInt($scope.weights[weight]);
    }
    return $scope.total;
  };

  var bankInfo = [{
    bankName: 'chase',
    bankRatings: {
      savings: 5,
      numAtms: 5,
      checkingFees: 5,
      custServ: 5,
      loanAcc: 5
    }
  }, {
    bankName: 'sefcu',
    bankRatings: {
      savings: 5,
      numAtms: 4,
      checkingFees: 4,
      custServ: 2,
      loanAcc: 1
    }
  }, {
    bankName: 'td',
    bankRatings: {
      savings: 1,
      numAtms: 2,
      checkingFees: 3,
      custServ: 4,
      loanAcc: 5
    }
  }];

  $scope.reset = function() {
    for (var weight in $scope.weights) {
      if ($scope.weights[weight] === "" || isNaN($scope.weights[weight]) || $scope.weights[weight] < 0) {
        $scope.weights[weight] = 0;
      }
    }
  };

  $scope.finalScore = function() {
    $scope.chase = [];
    $scope.td = [];
    $scope.sefcu = [];

    for (var x = 0; x < bankInfo.length; x++) {
      $scope.score = 0;
      for (var score in bankInfo[x].bankRatings) {
        $scope.current = bankInfo[x].bankName;
        $scope.score = parseInt(bankInfo[x].bankRatings[score] / 5 * $scope.weights[score]);
        $scope[$scope.current].push($scope.score);
      }
      console.log($scope.current + ": " + $scope[$scope.current]);
    }

    $scope.oneScore = function(bank) {
      var total = 0;
      for (var y = 0; y < bank.length; y++) {
        total += parseInt(bank[y]);
      }
      return total;
    };

    $scope.allScores = {
      chase: $scope.oneScore($scope.chase),
      td: $scope.oneScore($scope.td),
      sefcu: $scope.oneScore($scope.sefcu)
    };
    return $scope.score;
  };

});
		</script>
		
    </body>
</html>
